<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ inventory_hostname }}</title>
<meta charset="utf-8"/>
</script>
<style>
body{
	background-color: #fff;
}
h1 {
    color: green;
    width: 200px;
}
</style>
</head>
<body>
<h1>Apache webserver started on {{inventory_hostname}}
<h1>Testing on {{ inventory_hostname}}</h1><br>

</body>
</html>

